from django_project.settings.base import *

DEBUG=True
SECRET_KEY='not-so-secret'

# django debug toolbar
INTERNAL_IPS = ['127.0.0.1']
INSTALLED_APPS.append('debug_toolbar')
if 'django.middleware.gzip.GZipMiddleware' in MIDDLEWARE:
    MIDDLEWARE.insert(MIDDLEWARE.index('django.middleware.gzip.GZipMiddleware') + 1,
                      'debug_toolbar.middleware.DebugToolbarMiddleware')
else:
    MIDDLEWARE.insert(0, 'debug_toolbar.middleware.DebugToolbarMiddleware')

